@model ProjectDAL.User


@{
    ViewBag.Title = "Index";
}

<h2 style="color: white; text-align: center;">Index</h2>
<hr />

<div style="color: white; text-align: center;">
    <br/>
    @Html.ActionLink("User List", "UserList")
    <br /> <br />
    @Html.ActionLink("Blood Bank List", "BBList")
</div>
