@model ProjectDAL.User

@{
    ViewBag.Title = "Index";
}

<h2 style="color: white; text-align: center;">Index</h2>
<hr />

<div style="color: white; text-align: center;">
    @Html.ActionLink("User List", "UserList")
    @Html.ActionLink("Blood Bank List", "BBList")
</div>