@{
    ViewBag.Title = "About";
}

<div id="about">
    <h2 style="text-align: center; color: white;">About</h2>
    <hr />

    <p style="color: white; text-align: center;">
        Welcome to Donate Blood, Save Life site. Here, you can find donor searching by blood group and nearby area.
        This site will help you finding donor immediately in emergency condition.
    </p>
</div>