@{
    ViewBag.Title = "ContactUs";
}

<div id="contactUs">
    <h2 style="text-align: center; color: white;">Contact Us</h2>
    <hr />

    <div class="row">
        <div class="col-sm-6" style="text-align: center; color: white;">
            A. S. M. Khairul Alam <br />
            <address>
                BSSE 0612 <br />
                IIT, University of Dhaka. <br />
                Mobile: 01777078866
            </address>
        </div>

        <div class="col-sm-6" style="text-align: center; color: white;">
            Sazidul Islam <br />
            <address>
                BSSE 0633 <br />
                IIT, University of Dhaka. <br />
                Mobile: 01685519091
            </address>
        </div>
    </div>
</div>
